{% extends 'base-login.html' %}

{% block contenido %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img" style="background-image: url(/static_files/img/img1.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Cambiar mi clave</h3>
                            </div>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group mt-3">
                                <input
                                        type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                                        name="{{ field.html_name }}"
                                        class="form-control"
                                        maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                                        id="{{ field.id_for_label }}"
                                        required
                                />
                                <label class="form-control-placeholder">{{ field.label_tag }}</label>
                            </div>
                            </br>
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <p style="font-size: 13px;">
                                {{ error|escape }}
                            </p>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}

<!--                                {{form.as_table}}-->

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Modificar</button>
                                <button type="reset" class="btn btn-secundary">Cancelar</button>
                            </div>
                        </form>
                        <p class="text-center">Desea <a href="{% url 'inicio' %}">ir a inicio</a>?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}