{% extends 'base-map.html' %}

{% block contenido %}
<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5" style="width: 50%">
            <div id="map"></div>
        </div>
        <div class=" box-2 d-flex flex-column h-100" style="width: 50%">
            <div class="login-wrap p-4 p-md-5">
                <form action="" method="post" enctype="multipart/form-data" class="signin-form" name="form_evidence">
                    {% csrf_token %}
                    {{ title }}
                    {{ form.management_form.as_p }}
                    {% for f in form %}
                    <div class="form-group mt-3">
                        {{ f.as_p }}
                        {{ f.errors }}
                    </div>
                    {% endfor %}
                    <!--                    {% for field in form %}-->
                    <!--                    <div class="form-group mt-3">-->
                    <!--                        <input-->
                    <!--                                type="{% if 'image' in field.html_name %}file{% else %}text{% endif %}"-->
                    <!--                                name="{{ field.html_name }}"-->
                    <!--                                class="form-control"-->
                    <!--                                maxlength="50"-->
                    <!--                                id="{{ field.id_for_label }}"-->
                    <!--                                required-->
                    <!--                        />-->
                    <!--                        <label class="form-control-placeholder">{{ field.label_tag }}</label>-->
                    <!--                    </div>-->
                    <!--                    </br>-->

                    <!--                    {% if field.errors %}-->
                    <!--                    {% for error in field.errors %}-->
                    <!--                    <p style="font-size: 13px;">-->
                    <!--                        {{ error|escape }}-->
                    <!--                    </p>-->
                    <!--                    {% endfor %}-->
                    <!--                    {% endif %}-->
                    <!--                    {% endfor %}-->

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Agregar
                        </button>
                    </div>
                </form>
                <p class="text-center">Desea <a href="{% url 'studies' %}">regresar</a>?</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
let form = document.querySelectorAll(".form-group")
console.log(form);
var osm = L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: 'developer for Rasel'});
var google_maps = L.tileLayer('https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}', {attribution: 'developer for Rasel'});
var google_hybrid = L.tileLayer('https://mt1.google.com/vt/lyrs=y&x={x}&y={y}&z={z}', {attribution: 'developer for Rasel'});
var google_roads = L.tileLayer('https://mt1.google.com/vt/lyrs=h&x={x}&y={y}&z={z}', {attribution: 'developer for Rasel'});
var google_satellite = L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {attribution: 'developer for Rasel'});
var google_terrain = L.tileLayer('https://mt1.google.com/vt/lyrs=t&x={x}&y={y}&z={z}', {attribution: 'developer for Rasel'});
var stamen_terrain = L.tileLayer('http://a.tile.stamen.com/terrain/{z}/{x}/{y}.png', {attribution: 'developer for Rasel'});
var stamen_toner = L.tileLayer('http://tile.stamen.com/toner/{z}/{x}/{y}.png', {attribution: 'developer for Rasel'});
var stamen_watercolor = L.tileLayer('http://tile.stamen.com/watercolor/{z}/{x}/{y}.jpg', {attribution: 'developer for Rasel'});
var carto_dark = L.tileLayer('http://a.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png', {attribution: 'developer for Rasel'});
var carto_light = L.tileLayer('https://cartodb-basemaps-a.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {attribution: 'developer for Rasel'});

var map = L.map('map').setView([21.8411, -78.85452],6).addLayer(osm);
var baseMaps = {
    "Open Street Map": osm,
    "Google Maps": google_maps,
    "Google Hybrid": google_hybrid,
    "Google Roads": google_roads,
    "Google Satellite": google_satellite,
    "Google Terrain": google_terrain,
    "Stamen Terrain": stamen_terrain,
    "Stamen Toner": stamen_toner,
    "Stamen Watercolor": stamen_watercolor,
    "Carto Dark": carto_dark,
    "Carto Light": carto_light
};

L.control.layers(baseMaps).addTo(map);
L.control.mousePosition().addTo(map);
L.control.scale().addTo(map);
L.control.locate().addTo(map);
L.control.fullscreen({ position: 'topleft', forceSeparateButton: true, forcePseudoFullscreen: true }).addTo(map);

<!--L.geoJSON(geojsonFeature).addTo(map);-->

    map.pm.addControls({
        position: 'topleft',
        drawCircle: false,
        drawPolyline: false,
        drawRectangle: false,
        drawPolygon: false,
        drawCircle: false,
        drawText: false,
        dragMode: false,
        cutPolygon: false,
        rotateMode: false
        });

    map.on('pm:create', (e) => {
        //console.log(e.shape, e.layer._latlng)
        e.layer.on('pm:edit', (edit) => {  //edit
        layerManager(edit);
        });
        layerManager(e);
    });

    var one;
    var two;
    var three;

    function layerManager(e) {
        if (e.shape == "Marker" || e.shape == "CircleMarker"){
        console.log(e.layer._leaflet_id);
            pto = "SRID=4326;POINT(".concat(String(e.layer._latlng.lng)).concat(" ").concat(String(e.layer._latlng.lat)).concat(")");
            var uno = document.getElementsByName('evidence_set-0-help')[0].value;
            var dos = document.getElementsByName('evidence_set-1-help')[0].value;
            var tres = document.getElementsByName('evidence_set-2-help')[0].value;

            if (uno == '' || e.layer._leaflet_id == one) {
                document.getElementsByName('evidence_set-0-help')[0].value = pto;
                one = e.layer._leaflet_id;
                console.log(document.getElementsByName('evidence_set-0-help')[0].value);
            } else if (dos == '' || e.layer._leaflet_id == two) {
                document.getElementsByName('evidence_set-1-help')[0].value = pto;
                two = e.layer._leaflet_id;
                console.log(document.getElementsByName('evidence_set-1-help')[0].value);
            }else if (tres == '' || e.layer._leaflet_id == three) {
                document.getElementsByName('evidence_set-2-help')[0].value = pto;
                three = e.layer._leaflet_id;
                console.log(document.getElementsByName('evidence_set-2-help')[0].value);
            }
            //document.getElementsByName('evidence_set-0-help')[0].value = pto;
            //console.log(document.getElementsByName('evidence_set-0-help')[0].value);
        }
    }

    map.on('pm:remove', (e) => {
        console.log(e.layer._leaflet_id);
        if (e.layer._leaflet_id == one) {
            document.getElementsByName('evidence_set-0-help')[0].value = '';
        }
        if (e.layer._leaflet_id == two) {
            document.getElementsByName('evidence_set-1-help')[0].value = '';
        }
        if (e.layer._leaflet_id == three) {
            document.getElementsByName('evidence_set-2-help')[0].value = '';
        }
    })
</script>
{% endblock %}