{% extends 'base-login.html' %}

{% block contenido %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img" style="background-image: url(/static_files/img/img2.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Modificar usuario</h3>
                            </div>
                        </div>
                        <form method="post" action="">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group mt-3" style="margin-top: 2.5rem !important;">
                                <input
                                        type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                                        name="{{ field.html_name }}"
                                        class="form-control"
                                        value="{% if 'username' in field.label_tag %}{{ field.value }}{% endif %}"
                                        maxlength="{% if 'username' in field.label_tag %}15{% endif %}"
                                        id="{{ field.id_for_label }}"
                                        required
                                />
                                <label class="form-control-placeholder">{{ field.label_tag }}</label>
                            </div>
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <p style="font-size: 13px;">
                                {{ error|escape }}
                            </p>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}

<!--                            <div class="row mb-3">-->
<!--                                <label class="col-md-4 col-lg-3 col-form-label">Usuario</label>-->
<!--                                <div class="col-md-8 col-lg-9">-->
<!--                                    {{ form.username }}-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="row mb-3">-->
<!--                                <label class="col-md-4 col-lg-3 col-form-label">Clave</label>-->
<!--                                <div class="col-md-3 col-lg-3">-->
<!--                                    {{ form.password1 }}-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="row mb-3">-->
<!--                                <label class="col-md-4 col-lg-3 col-form-label">Confirmacion</label>-->
<!--                                <div class="col-md-8 col-lg-9">-->
<!--                                    {{ form.password2 }}-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Modificar</button>
                                <button type="reset" class="btn btn-secundary">Cancelar</button>
                            </div>
                        </form>
                        <p class="text-center">Desea <a href="{% url 'users' %}">regresar</a>?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}